<div class="container">
	<p id='alert'><%= alert %></p>
	<h3><b>USER LOGIN</b></h3>
	<br>
	<%= form_tag sessions_path do |form| %>
	<div class="field">
		<%= label_tag :email  %>
		<%= text_field_tag :email  %>
	</div>
	<div class="field">
		<%= label_tag :password %>
		<%= password_field_tag :password %>
	</div>
	<br>
	<div class="actions">
		<%= submit_tag 'Login',class:"btn btn-primary btn-xs" %>
	</div>
	<% end %>

	<br>
	<%= link_to 'Back', root_path %>
</div>