<div class="container">
  <%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name%>
    <%= form.text_field :name, class:"form-control" %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email ,class:"form-control" %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.password_field :password ,class:"form-control" %>
  </div>

  <div class="field">
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation,class:"form-control"  %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address, class:"form-control"  %>
  </div>
<br>
  <div class="actions">
    <%= form.submit class:"btn btn-primary"  %>
  </div>
<% end %>
</div>